.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-actions {
  padding: 16px 0;
  gap: 8px;
}

button {
  min-width: 90px;
}
